body {
    font-family: 'Inter', sans-serif;

    background-color: var(--dark-white);
}

.container {
    display: flex;
    flex-direction: column;
}

.container-section {
    max-width: 80rem;
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin: 4rem auto 0;
}