section.order > .title, 
section.policy > .title {
    font-size: 3rem;
}

section.order > .description,
section.policy > .description {
    font-size: 1.8rem;

    margin: 2rem 0;
}

section.order > .steps {
    list-style: decimal inside;
    
    margin-left: 1.5rem;
}

section.order > .steps > {

}

section.policy > .points {
    list-style: disc inside;
    
    margin-left: 1.5rem;
}

section.order > .steps > .step, 
section.policy > .points > .point {
    margin: 1rem 0;
    padding: 0.5rem;
}