section.order {
    border-bottom: 1px solid #000;
}

section.order > .title, 
section.policy > .title {
    font-size: 3rem;
}

section.order > .description,
section.policy > .description {
    font-size: 1.8rem;

    margin: 3rem 0;
}

section.order > .steps > .step, 
section.policy > .points > .point {
    margin: 1rem 0;
    padding: 0.5rem;
}

section.order > .steps {
    list-style: decimal inside;
    
    margin-left: .5rem;
}

section.order > .steps > .step {
    line-height: 1.5rem;
}

section.order > .description.-last {
    margin-bottom: 4rem;
}

section.order > .steps > .step > a,
section.order > .description > a {
    color: var(--blue);
    
    cursor: pointer;
}

section.order > .steps > .step > a:hover,
section.order > .description > a:hover {
    transform: scale(1.5);
    
    text-decoration: underline;
}

section.policy > .points {
    list-style: disc inside;
    
    margin-left: 1.5rem;
}

section.policy > .points > .point > .emphasis {
    font-weight: 600;
}